AppName=CDAS
IntervalInSeconds=1

DBConnStr=jdbc:oracle:thin:@vm-1c1e-c836.nam.nsroot.net:1522:cloudapp
DBUserName=cloudapp
DBPassword=Sicaru01

SANSOutQueueManager=MXCSPEIP1
SANSOutQueue=MX.PORTABILITY.S16.REQUEST.01
SANSOutQueueServer=QRGCG-SPELA03P
SANSOutQueuePort=2014
SANSOutQueueChannel=MXCSPEIP1.COMSA.SVR
SANSOutQueueReplyTo=MX.PORTABILITY.S16.RESPONSE.01

SANSInQueueManager=MXCSPEIP1
SANSInQueue=MX.SPID.S500.LISTEN.01
SANSInQueueServer=QRGCG-SPELA03P
SANSInQueuePort=2014
SANSInQueueChannel=MXCSPEIP1.COMSA.SVR

